<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hizhu.crawler.brand.mapper.HouseInfoTypeMapper">
  <resultMap id="BaseResultMap" type="com.hizhu.crawler.brand.entity.po.HouseInfoType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_no" jdbcType="VARCHAR" property="typeNo" />
    <result column="info_type" jdbcType="INTEGER" property="infoType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="index_no" jdbcType="INTEGER" property="indexNo" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="record_status" jdbcType="INTEGER" property="recordStatus" />
    <result column="is_display" jdbcType="INTEGER" property="isDisplay" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="resource_type" jdbcType="INTEGER" property="resourceType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_no, info_type, name, index_no, create_time, record_status, is_display, city_code, 
    resource_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from houseinfotype
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from houseinfotype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hizhu.crawler.brand.entity.po.HouseInfoType">
    insert into houseinfotype (id, type_no, info_type, 
      name, index_no, create_time, 
      record_status, is_display, city_code, 
      resource_type)
    values (#{id,jdbcType=VARCHAR}, #{typeNo,jdbcType=VARCHAR}, #{infoType,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{indexNo,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{recordStatus,jdbcType=INTEGER}, #{isDisplay,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, 
      #{resourceType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hizhu.crawler.brand.entity.po.HouseInfoType">
    insert into houseinfotype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeNo != null">
        type_no,
      </if>
      <if test="infoType != null">
        info_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="indexNo != null">
        index_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="isDisplay != null">
        is_display,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeNo != null">
        #{typeNo,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        #{infoType,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="indexNo != null">
        #{indexNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=INTEGER},
      </if>
      <if test="isDisplay != null">
        #{isDisplay,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hizhu.crawler.brand.entity.po.HouseInfoType">
    update houseinfotype
    <set>
      <if test="typeNo != null">
        type_no = #{typeNo,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="indexNo != null">
        index_no = #{indexNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=INTEGER},
      </if>
      <if test="isDisplay != null">
        is_display = #{isDisplay,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hizhu.crawler.brand.entity.po.HouseInfoType">
    update houseinfotype
    set type_no = #{typeNo,jdbcType=VARCHAR},
      info_type = #{infoType,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      index_no = #{indexNo,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      record_status = #{recordStatus,jdbcType=INTEGER},
      is_display = #{isDisplay,jdbcType=INTEGER},
      city_code = #{cityCode,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--
      ===========下面Mapper方法对应的 sql 为手动添加 ===========
  -->

  <!--  基本判断语句 -->
  <sql id="Base_Judge_Null">
    <if test="id != null">
      AND id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="typeNo != null">
      AND type_no = #{typeNo,jdbcType=VARCHAR}
    </if>
    <if test="infoType != null">
      AND info_type = #{infoType,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      AND name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="indexNo != null">
      AND index_no = #{indexNo,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
      AND create_time = #{createTime,jdbcType=INTEGER}
    </if>
    <if test="recordStatus != null">
      AND record_status = #{recordStatus,jdbcType=INTEGER}
    </if>
    <if test="isDisplay != null">
      AND is_display = #{isDisplay,jdbcType=INTEGER}
    </if>
    <if test="cityCode != null">
      AND city_code = #{cityCode,jdbcType=VARCHAR}
    </if>
    <if test="resourceType != null">
      AND resource_type = #{resourceType,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="selectByObject" resultType="com.hizhu.crawler.brand.entity.po.HouseInfoType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from houseinfotype
    WHERE  1=1
    <include refid="Base_Judge_Null"/>
  </select>


</mapper>